* {
  box-sizing: border-box;
}



.switch input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

.switch label {
  cursor: pointer;
  display: inline;
}

.background {
  z-index: 1;
  position: absolute;
  width: 6.5rem;
  height: 1.8rem;
  border-radius: 2.5rem;
  border: 0.25rem solid #202020;
  background: linear-gradient(to right, #484848 0%, #202020 100%);
  transition: all 0.3s;

  margin-top: -22px;
  opacity: 0.8;
}

.switch input:checked ~ .fill {
  background: #e9f8fd;
}

/* Stars */
.stars1,
.stars2 {
  position: absolute;
  height: 0.3rem;
  width: 0.3rem;
  background: #ffffff;
  border-radius: 50%;
  transition: 0.3s all ease;
}

.stars1 {
  top: 2px;
  right: 20px;
}

.stars2 {
  top: 20px;
  right: 35px;
}

.stars1:after,
.stars1:before,
.stars2:after,
.stars2:before {
  position: absolute;
  content: "";
  display: block;
  height: 0.25rem;
  width: 0.25rem;
  background: #ffffff;
  border-radius: 50%;
  transition: 0.2s all ease;
}

.stars1:after {
  top: 2px;
  right: 20px;
}

.stars1:before {
  top: 12px;
  right: -12px;
}

.stars2:after {
  top: -20px;
  right: -20px;
}

.stars2:before {
  top: -24px;
  right: -30px;
}

.sun-moon {
  z-index: 2;
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.12rem;
  background: #fffdf2;
  border-radius: 50%;
  transition: all 0.5s ease;
  margin-top: -20.5px;
  /* Default to Moon */
  border: 0.2rem solid #dee2c6;
}

.sun-moon .dots {
  position: absolute;
  top: 0.5px;
  left: 42px;
  height: 0.2rem;
  width: 0.2rem;
  background: #efeedb;
  border: 0.25rem solid #dee2c6;
  border-radius: 50%;
  transition: 0.4s all ease;
}

.sun-moon .dots:after,
.sun-moon .dots:before {
  position: absolute;
  content: "";
  display: block;
  height: 0.25rem;
  width: 0.25rem;
  background: #efeedb;
  border: 0.25rem solid #dee2c6;
  border-radius: 50%;
  transition: 0.4s all ease;
}

.sun-moon .dots:after {
  top: -8px;
  left: -26px;
}

.sun-moon .dots:before {
  top: 10px;
  left: -10px;
}

/* Transition to Sun */

.switch input:checked ~ .sun-moon {
  left: calc(100% - 4rem);
  background: #f5ec59;
  border-color: #e7c65c;
  transform: rotate(-25deg);
}

.switch input:checked ~ .sun-moon .dots,
.switch input:checked ~ .sun-moon .dots:after,
.switch input:checked ~ .sun-moon .dots:before {
  background: #ffffff;
  border-color: #ffffff;
}

.switch input:checked ~ .sun-moon .dots {
  height: 1.2rem;
  width: 1.2rem;
  top: -10px;
  left: -20px;
  transform: rotate(25deg);
}

.switch input:checked ~ .sun-moon .dots:after {
  height: 0.65rem;
  width: 0.65rem;
  top: 2px;
  left: -12px;
}

.switch input:checked ~ .sun-moon .dots:before {
  height: 0.4rem;
  width: 0.4rem;
  top: 6px;
  left: 14px;
}

.switch input:checked ~ .background .stars1,
.switch input:checked ~ .background .stars2 {
  opacity: 0;
  transform: translateY(2rem);
}

.switch input:checked ~ .background {
  border: 0.25rem solid #78c1d5;
  background: linear-gradient(to right, #78c1d5 0%, #bbe7f5 100%);
}
